body {
    font-family: 'Roboto', sans-serif;
}
.full-contain { 
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.explanation {
    font-size: 14px;
}

.full-contain .topbar { 
    min-height: 64px;
    background: #1a1a1a;
    color: white;
    display: flex;
    box-shadow: 0px 4px 10px #ff1d1dcf;
    justify-content: center;
    align-items: center;
}

.full-contain .main-contain { 
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
}

.mgrid {
    margin-top: 12px;
    display: flex;
    flex-wrap: wrap;
}

.full-contain .main-contain .lhs { 
    padding: 30px;
}

.c-title {
    margin-bottom: 15px;
    margin-top: -5px;
}

.full-contain .main-contain .lhs .camera-zone { 
    background: black;
    width: 532px;
    height: 400px;
}

.full-contain .main-contain .lhs .camera-zone canvas { 

}

.mr-title {
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
}

.full-contain .main-contain .lhs .more-details { 
    margin-top: 15px;
    width: 480px;
}

.full-contain .main-contain .rhs { 
    width: 100%;
    margin-top: 32px;
    margin-left: 42px;
}

.full-contain .main-contain .rhs .checking-area { 

}

.full-contain .main-contain .rhs  { 

}

.video-up {
    margin-top: 20px;
}

.title-b {
    margin-top: 5px;
    font-weight: 500;
    font-size: 18px;
}

.full-contain .main-contain .rhs  .selectable { 
    width: 240px;
    object-fit: cover;
    height: 140px;
    cursor: pointer;
    margin-right: 15px;
    position: relative;
    margin-bottom: 15px;
}

.full-contain .main-contain .rhs  .selectable img { 
    width: 100%;
    height: 100%;
}

.full-contain .main-contain .rhs  .selectable video { 
    width: 100%;
    height: 100%;
}
.selected-bar {
    background: #000000c2;
    color: white;
    padding: 4px;
    text-align: center;
    position: absolute;
    width: 232px;
}

.full-contain .main-contain .rhs .choose-a-video { 

}

.footer-final {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.footer-final img {
    width: 100px;
}

.cpr {
    margin-top: -10px;
    margin-bottom: 64px;
}

/* From Adaboh's project */
#videoElement
{
    z-index:0;
}

.person
{
    background-color: transparent;
    /* position: absolute; */
    /* height: auto; */
    z-index: 9999;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    transform: scale(-1, 1);
    filter: FlipH;
}

.background-replacement {
    position: absolute;
    width: 532px;
    height: 400px;
}

.background-replacement img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.background-replacement video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.loading-area {
    position: absolute;
    width: 532px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 99;
    background: #00000085;
    color: white;
}

.message-loading {
    margin-top: 20px;
}

.clean-link {
  text-decoration: none;
  color: black;
}

.footer-final a {
    text-decoration: none!important;
    color: #000000d4!important;
}

.join-part {
    margin-top: 10px;
}



/* JOD ad css */
.carbon-example {
  padding: 8px;
  background-color: #fff;
  width: 295px;
  box-sizing: border-box;
  border-radius: 6px;
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  align-items: flex-start;
  position: relative;
  z-index: 5;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.1);
  margin-top:20px;
}

.carbon-example img {
  margin-right: 9px;
  max-width: 125px;
}

.carbon-example .inner-wrapper {
  text-align: left;
}

.carbon-example .inner-wrapper p {
  font-size: 12px;
  line-height: 1.33;
  margin: 8px 0;
}

.carbon-example .inner-wrapper p.fine-print {
  font-size: 8px;
  color: #C5CDD0;
  line-height: 1.25;
  text-transform: uppercase;
  font-weight: 500;
}

.flex-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
@media screen and (max-width: 991px) {
  .flex-wrapper.two-col {
    display: block;
    text-align: center;
  }
}

.flex-wrapper.two-col > * {
  width: 50%;
}

.flex-wrapper.two-col > *:first-of-type {
  padding-right: 130px;
}
@media screen and (max-width: 991px) {

  .flex-wrapper.two-col > * {
    width: 100%;
  }

  .flex-wrapper.two-col > *:first-of-type {
    padding-right: 0;
  }
}

.flex-wrapper.two-col.reversed > *:first-of-type {
  order: 2;
  padding-right: 0;
}
@media screen and (min-width: 992px) {
  .flex-wrapper.two-col.reversed > *:first-of-type {
    padding-left: 130px;
  }
}

.flex-wrapper.three-col {
  text-align: left;
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  align-items: flex-start;
  margin-top: 40px;
}
@media screen and (max-width: 767px) {
  .flex-wrapper.three-col {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
.flex-wrapper.three-col > * {
  width: 33.3%;
}
@media screen and (max-width: 767px) {
  .flex-wrapper.three-col > * {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .flex-wrapper.three-col li {
    padding-left: 20px;
    padding-right: 20px;
  }
  .flex-wrapper.three-col li:first-child {
    padding-left: 0;
  }
  .flex-wrapper.three-col li:last-child {
    padding-right: 0;
  }
}

.flex-wrapper.three-col .flex-wrapper {
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  align-items: flex-start;
  margin-top: 0;
}
@media screen and (max-width: 767px) {
  .flex-wrapper.three-col .flex-wrapper {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
  }

  .flex-wrapper.three-col .flex-wrapper:not(:first-of-type) {
    margin-top: 40px;
  }
}

.flex-wrapper.three-col .flex-wrapper .icon {
  top: 0;
  transform: none;
}